<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1 id="page-name">Assignment</h1>

<div th:replace="fragments/navbar :: navbar"></div>


<form th:method="POST" th:action="@{gui/planets/{id}/assign(id=${planet.getId()})}" th:object="${planet}">
    <label for="name">Enter master's name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <input type="submit" value="Assign!">
</form>

</body>
</html>